In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
df = pd.read_csv('gpt_data.csv').set_index("WaId")
df

,Name,Height,Weight,Activity,Birthdate,Watch,Fitness,Environment,Goal,Gender,Scan
WaId,,,,,,,,,,,
5215579188699,Fernando Camacho,176cm,70,Moderately,January 1st 1991,Yes,Intermediate,Hybrid,Gain muscle,Male,Yes
5214422522438,José Luis Zamudio Rivera,168,65,Algo activo,03/12/1996,Híbrido,Principiante,Ganar musculo,Ganar musculo,Hombre,Si
37498901873,Karen,175,65,moderadamente activo,"July 21, 2002",híbrido,intermedio,híbrido,ganar músculo,Hombre,no

In [11]:
print("\n".join(df.iloc[0].to_json()[1:-1].split(",")))

"Name":"Karen"
"Height":175
"Weight":65
"Activity":"active"
"Birthdate":"07\/21\/02"
"Watch":"no"
"Fitness":"intermediate"
"Environment":"hybrid"
"Goal":"gain muscle"
"Gender":"male"
"Scan":"no"

In [16]:
import requests

In [17]:
get_endpoint = "https://api-dev.worqout.io/api/v5/users/andi/get-log"
send_endpoint = "https://api-dev.worqout.mx/api/v5/users/andi/register-log"

In [3]:
params = {'email':"jzamudio@worqout.io"}

In [5]:
req = requests.get(url=get_endpoint, params=params)
req.json()

{'data': {'id': 7,
  'wa_id': '4422522438',
  'name': 'Jose',
  'email': 'jzamudio@worqout.io',
  'verification_code': 'dscs5d3',
  'height': '168',
  'weight': '65',
  'activity': 'Active',
  'birthdate': '03-12-1996',
  'watch': 'no',
  'fitness': 'intermediate',
  'environment': 'hybrid',
  'goal': 'gain muscle',
  'gender': 'male',
  'scan': 'yes',
  'created_at': '2023-05-15T17:17:54.000000Z',
  'updated_at': '2023-05-15T17:17:54.000000Z'}}

In [3]:
df = pd.read_csv('gpt_data.csv')
df

,WaId,Name,Height,Weight,Activity,Birthdate,Watch,Fitness,Environment,Goal,Gender,Scan
0,5215579188699,Fernando Camacho,176cm,70,Moderately,January 1st 1991,Yes,Intermediate,Hybrid,Gain muscle,Male,Yes
1,5214422522438,José Luis Zamudio Rivera,168,65,Algo activo,03/12/1996,Híbrido,Principiante,Ganar musculo,Ganar musculo,Hombre,Si
2,37498901873,Karen,175,65,moderadamente activo,"July 21, 2002",híbrido,intermedio,híbrido,ganar músculo,Hombre,no

In [7]:
karen = df.loc[0]
json.loads(karen.to_json())

{'WaId': 5215579188699,
 'Name': 'Fernando Camacho',
 'Height': '176cm',
 'Weight': 70,
 'Activity': 'Moderately',
 'Birthdate': 'January 1st 1991',
 'Watch': 'Yes',
 'Fitness': 'Intermediate',
 'Environment': 'Hybrid',
 'Goal': 'Gain muscle',
 'Gender': 'Male',
 'Scan': 'Yes'}

In [24]:
karen = {"wa_id": 37498901873,
 "name": "Karen",
 "height": "175",
 "email": "karen@worqout.io",
 "verification_code": "k10795",
 "weight": 65,
 "activity": "Active",
 "birthdate": "July 21, 2002",
 "watch": "No",
 "fitness": "Intermediate",
 "environment": "Hybrid",
 "goal": "Build Strength",
 "gender": "Male",
 "scan": None}

In [25]:
rp = requests.post(url=send_endpoint, data=karen)
rg = requests.get(url=get_endpoint, params={'wa_id':"37498901873"})
rg.json()

{'data': {'id': 2,
  'wa_id': '3434434343',
  'name': None,
  'email': None,
  'verification_code': None,
  'height': None,
  'weight': None,
  'activity': None,
  'birthdate': None,
  'watch': None,
  'fitness': None,
  'environment': None,
  'goal': None,
  'gender': None,
  'scan': None,
  'created_at': '2023-04-20T00:45:56.000000Z',
  'updated_at': '2023-04-20T00:45:56.000000Z'}}

In [28]:
rp = requests.post(url=send_endpoint, data=karen)
rp